* {
    /* border: 1px solid red; */
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
}

body {
    display: inline-block;
}

header {
    display: flex;
    position:fixed;
    z-index: 10;
    width: 100%;
    height: auto;
    height: 69px;
}

.phantom {
    display: flex;
    z-index: 10;
    width: 100%;
    height: auto;
    height: 69px;
}

header nav {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: 0.9;
}

header .logo {
    max-height: 50px;
    min-height: 10px;
}

header ul {
    display:inline-flex;
    list-style-type: none;  
}

header li {
    padding: 2rem;
    text-decoration: underline;
}

.header-items {
    display: inline-block;
}

.mission {
    display: flex;
    height: 700px;
    width: 1200px;
    background-image: url("../images/img-mission-background.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.statement {
    display:box;
    width: 1200px;
    height: fit-content;
    background-color:black;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0; */
}

.statement h2,h4 {
    text-align: center;
}

.products {
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.products h2,h4 {
    text-align: center;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galery img {
    width: 300px;
    height: 200px;
}

.galery p {
    margin: 10px;
}

.galery figure {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width:300px;
    height: auto;
    margin: 10px;
}

.galery figcaption {
    text-align: center;
}

.locations {
    display:flex;
    height: 500px;
    width: 1200px;
    background-image: url(../images/img-locations-background.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    box-sizing: border-box;
}

.locations h2 {
    margin-bottom: 15px;
}

.locations .addresses {
    margin-top: 15px;
    display: inline-flex;
    justify-content: center;
    margin-top: 15px;
}

.loc {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: black;
    /*opacity: 1;*/
    margin: 0 20px;
}

.contact {
    display:flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    padding-top: 4rem;
    padding-left: 20px;
}